@media screen and (min-width: 1280px)
{
	#logo
	{
		height: 150px;
		width: 150px;
	}
	.IndexPage
	{
		display: flex;
	}
}

@media screen and (min-width:481px) and (max-width: 1279px)
{
	.IndexPage
	{
		display: flex;
	}
}

@media screen and (max-width: 480px)
{
	.IndexPage
	{
		display: flex;
	}
}